.timesheet-container{
  .holiday{
    color: #ff0000 !important;
    background-color: lighten(#ff0000, 45);
  }
  #toolbar{
    padding: 10px;
    margin-bottom: 10px;
    button{
      margin-left: 20px;
    }
  }
  td.note{
    cursor: pointer;
  }
  .no-side-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 6px !important;
  }
  tfoot{
    color: white;
  }
  font-size: 12px;
  .table td, .table th {
    padding: .2rem;
  }
  input[type="number"] {
    text-align: center;
    padding: 0px .2px;
    width: 26px;
    height: 26px;
    font-size: 12px;
    margin: 0 auto;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
