.timesheet-container {
  font-size: 12px;
}
.timesheet-container .holiday {
  color: #ff0000 !important;
  background-color: #ffe6e6;
}
.timesheet-container #toolbar {
  padding: 10px;
  margin-bottom: 10px;
}
.timesheet-container #toolbar button {
  margin-left: 20px;
}
.timesheet-container td.note {
  cursor: pointer;
}
.timesheet-container .no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 6px !important;
}
.timesheet-container tfoot {
  color: white;
}
.timesheet-container .table td, .timesheet-container .table th {
  padding: 0.2rem;
}
.timesheet-container input[type=number] {
  text-align: center;
  padding: 0px 0.2px;
  width: 26px;
  height: 26px;
  font-size: 12px;
  margin: 0 auto;
}
.timesheet-container input[type=number]::-webkit-outer-spin-button, .timesheet-container input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*# sourceMappingURL=Timesheet.css.map */
